<div class='carpool-card'>
  <h3><%= trip.date.strftime('%B %d %l:%M %p') %></h3>
  <div class='carpool-info'>
    <p>
    <span class='emph-carpool'><%= trip.user.electric_car ? "Electric" : "Gas" %></span> car,
    <span class='emph-carpool'><%= trip.seat %> <%= 'seat'.pluralize(trip.seat) %></span> left </br>
    <span class='black-text'><%= trip.user.distance_to([current_user.latitude, current_user.longitude]).round %></span> km away from you </br>
    Driver : <span class='emph-carpool'><%= trip.user.first_name.capitalize %></span> </br>
    <% if trip.user.electric_car %>
      <span style = "font-size: 12px">You save <span class = "trip-co2"><%=((trip.user.distance_to([current_user.latitude, current_user.longitude])*192)).round %></span> g of CO2 in an electric car!</span>
    <% else %>
      <span style = "font-size: 12px">You save <span class = "trip-co2"><%= ((trip.user.distance_to([current_user.latitude, current_user.longitude])*192)/trip.seat).round %></span> g of CO2 by carpooling!</span>
    <% end %>
  </p>
  </div>
</div>
