<div class="title-div">
  <div class="arrow-div">
    <%= link_to url_for(:back) do %>
      <i class="fa-solid fa-chevron-left fa-lg arrow"></i>
    <% end %>
    <h2>Favorites</h2>
  </div>
</div>

<% if @farms.any? %>
  <% @farms.each do |farm| %>
    <div class="farm-card"
      data-controller="favorite"
      data-favorite-page-value="favorites">
      <%= link_to farm_path(farm) do %>
        <div class="farm-card-img-div">
          <%= image_tag "farm.png", class: "farm-card-img-fav", alt: farm.name %>
          <div class="farm-tag-div">
            <p class="farm-tag"><i class="fa-solid fa-tag"></i> organic</p>
            <% if farm.grass_fed %>
              <p class="farm-tag"><i class="fa-solid fa-tag"></i> grass fed</p>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="farm-card-body">

        <div class="farm-fav-div">
          <div class="farm-name-div">
            <h2><%= farm.name %></h2>
          </div>
          <%= render "heart", farm: farm %>
        </div>

        <div class="farm-card-description">

          <div>
            <p>
              <span class="distance-color"><%= farm.distance_to([current_user.latitude, current_user.longitude]).round %> km •
              <% time = (farm.distance_to([current_user.latitude, current_user.longitude]).round * 60) / 50 %>
              <% hours, minutes = time.divmod(60)  %>
              <%= hours > 0 ? "#{hours} hours" : "" %>
              <%= minutes %> min</span>
            </p>

            <div class="hours-div">
            <% if @time.between?(farm.opening_time, (farm.closing_time - 1)) %>
              <p class="open">Open</p>
              <p>• Closes at <%= "#{farm.closing_time}:00" %></p>
            <% elsif @time > farm.closing_time %>
              <p class="closed">Closed</p>
              <p>• Opens at <%= "#{farm.opening_time}:00" %></p>
            <% else %>
              <p class="open">Open</p>
              <p class = "closed">• Closing soon: <%= "#{farm.closing_time}:00" %></p>
            <% end %>
            </div>
          </div>
          <div class="rating-div">
            <strong><p class="rating-text"><%= farm.rating %></p></strong>
            <i class="fa-solid fa-star fa-sm star"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="no-message d-none">
    <p>No favorites yet</p>
  </div>
<% else %>
  <%= render "no-message" %>
<% end %>
