<div>
  <div class="title-div">
    <h2>Hello <%= current_user.first_name.capitalize %> !</h2>
    <p><%= current_user.address.split(",")[0] %><i class="fa-solid fa-chevron-down arrow"></i></p>
  </div>
  <%# <div class="title-div-description">
    <p>Share a ride, shop local, save the planet !</p>
  </div> %>
</div>

<%= form_with url: farms_path, method: :get do %>
  <div data-controller="search-filter">
    <div class="search-div">
      <%= text_field_tag :query,
            params[:query],
            class: "search-input",
            placeholder: "Search for a farm, product..."
      %>
      <i class="fa-solid fa-magnifying-glass loop"></i>
      <i class="fa-solid fa-sliders filter" data-action="click->search-filter#openFilter"></i>
    </div>

    <div class="d-none" data-search-filter-target="filter">
      <div class="filter-div">
        <div class="subtitle-div">
          <strong><p>Product</p></strong>
          <div class="checkbox-div">
            <input type="checkbox" id="meat" name="meat" value="true" class="btn-check" <% if params[:meat] %> checked <% end %>>
            <label for="meat" class="btn btn-primary filter-checkbox">Meat</label>
            <input type="checkbox" id="vegetable" name="vegetable" value="true" class="btn-check" <% if params[:vegetable] %> checked <% end %>>
            <label for="vegetable" class="btn btn-primary filter-checkbox">Vegetable</label>
            <input type="checkbox" id="fruit" name="fruit" value="true" class="btn-check" <% if params[:fruit] %> checked <% end %>>
            <label for="fruit" class="btn btn-primary filter-checkbox">Fruit</label>
            <input type="checkbox" id="egg" name="egg" value="true" class="btn-check" <% if params[:egg] %> checked <% end %>>
            <label for="egg" class="btn btn-primary filter-checkbox">Egg</label>
          </div>
        </div>

        <div class="subtitle-div">
          <strong><p>Sort</p></strong>
          <div class="checkbox-div">
            <input type="radio" id="distance" name="sort" value="distance" class="btn-check" <% if !params[:sort].present? || params[:sort] == "distance" %> checked <% end %>>
            <label for="distance" class="btn btn-primary filter-checkbox">Distance</label>
            <input type="radio" id="open" name="sort" value="open" class="btn-check" <% if params[:sort] == "open" %> checked <% end %>>
            <label for="open" class="btn btn-primary filter-checkbox">Open</label>
            <input type="radio" id="carpool" name="sort" value="carpool" class="btn-check" <% if params[:sort] == "carpool" %> checked <% end %>>
            <label for="carpool" class="btn btn-primary filter-checkbox">Ride</label>
            <input type="radio" id="rating" name="sort" value="rating" class="btn-check" <% if params[:sort] == "rating" %> checked <% end %>>
            <label for="rating" class="btn btn-primary filter-checkbox">Rating</label>
          </div>
        </div>

        <button type="submit" class="filter-button">Apply</button>
      </div>
    </div>
  </div>
<% end %>

<% if @farms.any? %>
  <% @farms.each do |farm| %>
    <div class="farm-card"
      data-controller="favorite"
      data-favorite-page-value="index">
      <%= link_to farm_path(farm) do %>
        <div class="farm-card-img-div">
          <%= image_tag "farm.png", class: "farm-card-img", alt: farm.name %>
          <div class="farm-tag-div">
            <p class="farm-tag"><i class="fa-solid fa-tag"></i> organic</p>
            <% if farm.grass_fed %>
              <p class="farm-tag"><i class="fa-solid fa-tag"></i> grass fed</p>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="farm-card-body">

        <div class="farm-fav-div">
          <div class="farm-name-div">
            <h2><%= farm.name %></h2>
          </div>
          <%= render "heart", farm: farm %>
        </div>

        <div class="farm-card-description">

          <div>
            <p>
              <span class="distance-color"><%= farm.distance_to([current_user.latitude, current_user.longitude]).round %> km •
              <% time = (farm.distance_to([current_user.latitude, current_user.longitude]).round * 60) / 50 %>
              <% hours, minutes = time.divmod(60)  %>
              <%= hours > 0 ? "#{hours} hours" : "" %>
              <%= minutes %> min</span>
            </p>
            <%# priscilla & daph, if open > between opening and closing. Open soon > 1h before opening (show opening hour). Closing soon > 1h before closing (show closing hour). Closed > outside (show openings hours). %>
            <div class="hours-div">
            <% if @time.between?(farm.opening_time, (farm.closing_time - 1)) %>
              <p class="open">Open</p>
              <p>• Closes at <%= "#{farm.closing_time}:00"  %></p>
            <% elsif @time > farm.closing_time %>
              <p class="closed">Closed</p>
              <p>• Opens at <%= "#{farm.opening_time}:00"  %></p>
            <% else %>
              <p class="open">Open</p>
              <p class = "closed">• Closes soon: <%= "#{farm.closing_time}:00"  %></p>
            <% end %>
            </div>
          </div>
          <div class="rating-div">
            <strong><p class="rating-text"><%= farm.rating %></p></strong>
            <i class="fa-solid fa-star fa-sm star"></i>
          </div>
        </div>

      </div>
    </div>
  <% end %>
<% else %>
  <div class="no-message">
    <p>No farms found</p>
  </div>
<% end %>
