<div class="title-div">
  <h2>Hello <%= current_user.first_name.capitalize %> !</h2>
  <strong><p class="small-font"><%= current_user.address.split(",")[0] %></p></strong>
</div>

<% @farms.each do |farm| %>
  <div class="farm-card">
    <%= link_to farm_path(farm) do %>
      <img src="https://res.cloudinary.com/dpfoq3knh/image/upload/v1692648557/production/v8q0d0r2z3jr5sq5szjj1xvju8wf.jpg" class="farm-card-img" alt="<% farm.name %>">
    <% end %>

    <div class="farm-card-body" data-controller="favorite">
      <div class="farm-fav-div">
        <div class="farm-name-div">
          <% if farm.open %>
            <i class="fa-solid fa-circle fa-sm open-margin open"></i>
          <% else %>
            <i class="fa-solid fa-circle fa-sm open-margin close"></i>
          <% end %>
          <h2><%= farm.name %></h2>
        </div>
        <%= render "heart", farm: farm %>
      </div>

      <p>
        <i class="fa-solid fa-leaf leaf"></i>
        <span class="black-text"><%= farm.distance_to([current_user.latitude, current_user.longitude]).round %></span> km ●
        <% time = (farm.distance_to([current_user.latitude, current_user.longitude]).round * 60) / 50 %>
        <% hours, minutes = time.divmod(60)  %>
        <%= hours > 0 ? "#{hours} hours" : "" %>
        <%= minutes %> min
      </p>
      <div class="rating-div">
        <strong><p class="rating-text"><%= farm.rating %></p></strong>
        <i class="fa-solid fa-star fa-sm star"></i>
      </div>
    </div>
  </div>
<% end %>
