<%= image_tag "farm.png", class: "farm-image", alt: "Farm" %>
<div>
<br>
</div>
<div class="farm-header">

    <%= link_to url_for(:back) do %>
      <i class="fa-solid fa-chevron-left fa-lg arrow"></i>
    <% end %>
    <div class="farm-title">
      <% if @farm.open %>
          <i class="fa-solid fa-circle fa-sm open"></i>
        <% else %>
          <i class="fa-solid fa-circle fa-sm close"></i>
      <% end %>
      <h2><%= @farm.name %></h2>
    </div>
    <div class="farm-rating">
      <p><%= @farm.rating %><i class="fa-solid fa-star fa-sm star"></i></p>
    </div>
</div>
<p class="farm-description"><%= @farm.description %></p>

<div class="form">
  <%= simple_form_for ([@order]) do |f|%>
    <h3> Join a carpool </h3>
    <div class="carpool-buttons-container">
        <%= f.association :trip, collection: @farm.trips,
                          as: :radio_buttons,
                          label_method: lambda { |trip| render "farms/show_carpool_label", trip: trip, current_user: current_user },
                          collection_wrapper_class: "carpool-buttons-container",
                          item_wrapper_class: 'farm-order-radio-buttons radio-button-text'%>
        <%# if I wanted all the cards from the app to have the same informations, I can make a partial called carpool_card
        and render it where I need to. For example, on order-show page :
         label_method: lambda { |trip| render "carpool_card", trip: @order.trip, current_user: current_user }
         OR on order index page
         label_method: lambda { |trip| render "show_carpool_label", trip: order.trip, current_user: current_user }
         it would have been useful if I did made a css component for the carpool card, but it's a pain to refactor.
         At least we know how to do it for another project ;)
         %>
    </div>
    <div data-controller="carbon-bar-update" data-carbon-bar-update-current-value = <%=current_user.total_co2_saved%>>
      <h3> Products </h3>
      <div class="farm-products">
        <% @products.where.not(stock: 0).each do |product| %>
          <%= f.simple_fields_for :order_products do |order_product| %>
            <div class="farm-product-field">
              <%= image_tag "#{product.name}.jpg", alt: "Product" %>
              <div class = "farm-product-label">
                <h4><%= order_product.label (product.category == "meat" ? product.name : product.name.pluralize) %></h4>
                <p><span class="light-green"><%= "$#{product.price} / #{product.unit}" %></span></p>
                <p>Saving <span class="light-green"><%= product.co2_saved >= 1 ? "#{product.co2_saved.round(3)} kg" : "#{(product.co2_saved * 1000).round(0)}" %> co2 / kg</span></p>
              </div>
              <div class="farm-product-inputs" style="margin-top: 10px;">
                <%= order_product.input :quantity, label: false, placeholder: "0",
                                        input_html: { min: 0,
                                                      max: product.stock,
                                                      name: "order[order_products][#{product.name}][quantity]",
                                                      type: :number,
                                                      class: 'quantity-input',
                                                      data: { action: "input->carbon-bar-update#addProductCo2",
                                                              co2_saved: product.co2_saved }
                                                    }%>
                <%= order_product.input :product,
                                        input_html: { value: product.id,
                                                      name: "order[order_products][#{product.name}][product_id]"},
                                        as: :hidden %>
                <%= order_product.input :farm,
                                        input_html: { value: product.farm.id,
                                                      name: "farm" },
                                        as: :hidden %>
              </div>
            </div>
           <% end %>
        <% end %>
    </div>

    <div class = "d-flex justify-content-center">
      <%= f.button :submit, "Place your order", class: "submit-button"%>
    </div>
  <%end%>
</div>
