<h1><%= @farm.name %></h1>
<p><%= @farm.description %></p>

<h2>TODO: INSERT NEW ORDER FORM</h2>
<ul>
  <% @farm.products.each do |product| %>
    <li><%= product.name.capitalize.pluralize%>: <%= product.stock %> <%= product.unit %> in stock </li>
  <% end %>
<h1>New order</h1>
<%= simple_form_for [@order, @farm.products] do |f| %>
  <%= f.input :product %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
</ul>
