<img class="farm-image" alt="Farm" src="/assets/farm.png" >
<h2><%= @farm.name %></h2>
<p><%= @farm.description %></p>

<h3>Join a carpool</h3>

<div class="carpool-orders-card">
  <% @farm.trips.each do |trip| %>
    <h3>
      <% if trip.date.to_date == Date.today %>
        <%= distance_of_time_in_words(Time.now, trip.date) %>
      <% else %>
        <%= trip.date.strftime('%B %d %l:%M %p') %>
      <% end %>
    </h3>
    <div class="carpool-info">
      <p><%= trip.user.electric_car ? "Electric" : "Gaz" %> car, <%= trip.seat %> seats available</p>
      <p>Driver : <%= trip.user.first_name.capitalize %> </p>
      <%# adding distance in km from farm to current_user %>
    </div>
  <%  end %>
</div>

<h3>Products</h3>
<ul>
  <div class=product-card>
    <% @farm.products.each do |product| %>
      <li>Product name: <%= product.name %> </li>
      <li>Product category: <%= product.category %>
      <li><%= product.unit %></li>
      <li>In stock: <%= product.stock %></li>
    <% end %>
  </div>
</ul>

<div class="farm-order-radio-buttons">
  <%= simple_form_for ([@order]) do |f|%>
  <div class="radio-button-text">
  <%= f.association :trip, collection: @farm.trips, as: :radio_buttons, label_method: :label_text%>

  </div>
</div>
  <% @products.where.not(stock: 0).each do |product| %>
    <%= f.simple_fields_for :order_products do |order_product| %>
    <%# order_product.input :product, input_html: { value: "#{product.name.capitalize} - #{product.price} per #{product.unit}"}, disabled: false%>
    <%= order_product.label product.name %>
    <div class="product-carbon-savings">
    <p><%= product.stock %> available </p>
    <p><%= product.co2_saved >= 1 ? "#{product.co2_saved.round(3)} kg" : "#{(product.co2_saved * 1000).round(0)}g" %> of CO2 saved/kg compared to the stores!</p>
    </div>
    <%= order_product.input :quantity, label: "Quantity (#{product.unit})", input_html: { min:0, max: product.stock, name: "order[order_products][#{product.name}][quantity]" }, as: :integer%>
    <%= order_product.input :product, input_html: {value: product.id, name: "order[order_products][#{product.name}][product_id]" }, as: :hidden %>
    <% end %>
  <% end %>
  <%= f.button :submit %>
<%end%>

<div>
<br>
</div>
