<h1><%= @farm.name %></h1>
<p><%= @farm.description %></p>

<h2>Upcoming trips</h2>
<ul>
<% @farm.trips.each do |trip| %>
<li><%= trip.date %></li>
<%  end %>
</ul>

<h2>Products</h2>
<h2>TODO: INSERT NEW ORDER FORM</h2>
<ul>
  <% @farm.products.each do |product| %>
    <li><%= product.name.capitalize.pluralize%>: <%= product.stock %> <%= product.unit %> in stock </li>
  <% end %>
<h1>New order</h1>
<%= simple_form_for [@order, @farm.products] do |f| %>
  <%= f.input :product %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
</ul>

<%= simple_form_for ([@order]) do |f|%>
  <%= f.association :trip, collection: @farm.trips, as: :radio_buttons, label_method: :date%>
  <% @products.where.not(stock: 0).each do |product| %>
    <%= f.simple_fields_for :order_products do |order_product| %>
    <%= order_product.input :product, input_html: { value: "#{product.name.capitalize} - #{product.price} per #{product.unit}"}, disabled: true%>
    <%= order_product.input :quantity, input_html: { min:0, max: product.stock }, as: :integer%>
    <% end %>
  <% end %>
  <%= f.button :submit %>
<%end%>
<div>
<br>
</div>
