<div class="fix-padding" data-controller="gsap-banner" class="d-none" data-gsap-banner-target="display">
  <div class="topbanner" data-controller="expand-banner" data-action="click->expand-banner#expand">
    <% if current_user %>
      <%# <p id="top-banner-text"> You saved <span id="current-user-co2-saved" class="emph"> <%= current_user.total_co2_saved.round(2) %> <%#kg of CO2! </span>That's equal to planting 18 trees!   <i class="fa-solid fa-tree"></i></p> %>
      <p id="top-banner-text"> Lifetime CO2 Savings:<span id="current-user-co2-saved" class="emph"> <%= current_user.total_co2_saved.round %> kg! </span> <i class="fa-solid fa-chevron-down fa-xs topbanner-chevron"  data-expand-banner-target="chevron"></i></p>
    <% else %>
      <p>Place an order to start saving CO2!</p>
    <% end %>
    <div class="d-none" data-expand-banner-target="additionalText">
      <div class="top-banner-extended-container">
        <% if current_user %>
          <%= inline_svg_tag "minimalist_tree.svg", class: "banner-tree" %>
          <p id="top-banner-extended text">That's as much as <span id = "co2-equivalent-trees"> <%= (current_user.total_co2_saved/0.362).round %> oak trees</span> can remove from the atmosphere in a week!</span></p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="farm-card"
  data-controller="favorite"
  data-favorite-page-value="index">
  <div class="farm-card-img-div">
    <%= image_tag "#{@farm.name}.jpg", class: "farm-card-img", alt: @farm.name %>
    <div class="farm-tag-div">
      <p class="farm-tag"><i class="fa-solid fa-tag"></i> organic</p>
      <% if @farm.grass_fed %>
        <p class="farm-tag"><i class="fa-solid fa-tag"></i> grass fed</p>
      <% end %>
    </div>
  </div>

  <div class="farm-card-body">

    <div class="farm-fav-div farm-show-fav-div">
      <div class="farm-name-div">
        <div class="arrow-div-show">
          <%= link_to url_for(:back) do %>
            <i class="fa-solid fa-chevron-left arrow"></i>
          <% end %>
        </div>
        <h2><%= @farm.name %></h2>
      </div>
      <%= render "farms/heart", farm: @farm %>
    </div>

    <div class="farm-card-description">

      <div>
        <p>
          <span class="distance-color"><%= @farm.distance_to([current_user.latitude, current_user.longitude]).round %> km •
          <% time = (@farm.distance_to([current_user.latitude, current_user.longitude]).round * 60) / 50 %>
          <% hours, minutes = time.divmod(60)  %>
          <%= hours > 0 ? "#{hours} hours" : "" %>
          <%= minutes %> min</span>
        </p>

        <div class="hours-div">
          <% if @time.between?(@farm.opening_time, (@farm.closing_time - 1)) %>
            <p class="open">Open</p>
            <p>• Opening hours: <%= "#{@farm.opening_time}:00 - #{@farm.closing_time}:00"%></p>
          <% elsif not (@time.between?(@farm.opening_time, (@farm.closing_time))) %>
            <p class="closed">Closed</p>
            <p>• Opening hours: <%= "#{@farm.opening_time}:00 - #{@farm.closing_time}:00"%></p>
          <% else %>
            <p class="closed">Closes soon</p>
            <p>• Opening hours: <%= "#{@farm.opening_time}:00 - #{@farm.closing_time}:00"%></p>
          <% end %>
        </div>
      </div>
      <div class="rating-div">
        <strong><p class="rating-text"><%= @farm.rating %></p></strong>
        <i class="fa-solid fa-star fa-sm star"></i>
      </div>
    </div>

  </div>
</div>
<p class="farm-description"><%= @farm.description %></p>

<div class="form" data-controller="carbon-bar-update" data-carbon-bar-update-current-value = <%=current_user.total_co2_saved%>>
  <%= simple_form_for ([@order]) do |f|%>
    <h3> Join a carpool </h3>
    <div class="carpool-buttons-container">
        <%= f.association :trip, collection: @farm.trips,
                          as: :radio_buttons,
                          label_method: lambda { |trip| render "farms/show_carpool_label", trip: trip, current_user: current_user },
                          collection_wrapper_class: "carpool-buttons-container",
                          item_wrapper_class: 'farm-order-radio-buttons radio-button-text',
                          input_html: {
                          data: {action: "click->carbon-bar-update#addProductCo2"}
                          }
                          %>
        <%# if I wanted all the cards from the app to have the same informations, I can make a partial called carpool_card
        and render it where I need to. For example, on order-show page :
        label_method: lambda { |trip| render "carpool_card", trip: @order.trip, current_user: current_user }
        OR on order index page
        label_method: lambda { |trip| render "show_carpool_label", trip: order.trip, current_user: current_user }
        it would have been useful if I did made a css component for the carpool card, but it's a pain to refactor.
        At least we know how to do it for another project ;)
        %>
    </div>
    <div>
      <h3> Products </h3>
      <div class="farm-products">
        <% @products.where.not(stock: 0).each do |product| %>
          <%= f.simple_fields_for :order_products do |order_product| %>
            <div class="farm-product-field">
              <%= image_tag "#{product.product_info.name}.jpg", alt: "Product" %>
              <div class = "farm-product-label">
                <h4><%= order_product.label (product.product_info.category == "meat" ? product.product_info.name : product.product_info.name.pluralize) %></h4>
                <p><span class="light-green"><%= "#{number_to_currency(product.price)} / #{product.unit}" %></span></p>
                <p>Saving <span class="light-green"><%= product.product_info.co2_saved >= 1 ? "#{product.product_info.co2_saved.round(3)} kg" : "#{(product.product_info.co2_saved * 1000).round(0)}" %> co2 / kg</span></p>
              </div>
              <div class="farm-product-inputs" style="margin-top: 10px;">
                <%= order_product.input :quantity, label: false, placeholder: "0",
                                        input_html: { min: 0,
                                                      max: product.stock,
                                                      name: "order[order_products][#{product.product_info.name}][quantity]",
                                                      type: :number,
                                                      class: 'quantity-input',
                                                      data: { action: "input->carbon-bar-update#addProductCo2",
                                                              co2_saved: product.product_info.co2_saved }
                                                    }%>
                <%= order_product.input :product,
                                        input_html: { value: product.id,
                                                      name: "order[order_products][#{product.product_info.name}][product_id]"},
                                        as: :hidden %>
                <%= order_product.input :farm,
                                        input_html: { value: product.farm.id,
                                                      name: "farm" },
                                        as: :hidden %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>

    <div class = "d-flex justify-content-center">
      <%= f.button :submit, "Place your order", class: "submit-button"%>
    </div>
  <%end%>
</div>
