<div class="title-div">
  <%= link_to url_for(:back) do %>
    <div class="arrow-div">
      <i class="fa-solid fa-chevron-left fa-lg arrow"></i>
      <h2>Chat history</h2>
    </div>
  <% end %>
</div>

<% @trips.each do |trip| %>
  <%= link_to trip_path(trip) do %>
    <div class="chat-box">
      <%= image_tag "driver.png", class: "driver-img" %>
      <% if trip.messages.any? %>
        <div class="trip-info-wrapper">
          <p class="trip-info">Trip to <%= trip.farm.name %></p>
          <div class="last-message">
            You: <%= trip.messages.last.content %>
          </div>
        </div>
        <span class="timestamp"><%= trip.messages.last.created_at.strftime('%l:%M %p') %></span>
      <% end %>
    </div>
  <% end %>
<% end %>
