<div class="title-div">
  <%= link_to url_for(:back) do %>
    <div class="arrow-div">
      <i class="fa-solid fa-chevron-left fa-lg arrow"></i>
      <h2>Chat history</h2>
    </div>
  <% end %>
</div>

<% @trips.each do |trip| %>

  <%= link_to trip_path(trip) do %>
    <div>
      <% if trip.messages.any? %>
        <p>Trip to <%= trip.farm.name %></p>
        <%= trip.messages.last.content %>
        <%= trip.messages.last.created_at %>
      <% end %>
    </div>
  <% end %>

<% end %>
