<div class="title-div">
  <div class="arrow-div">
    <%= link_to url_for(:back) do %>
      <i class="fa-solid fa-chevron-left fa-lg arrow"></i>
    <% end %>
    <h2>Chats</h2>
  </div>
</div>

<% if @trips.any? %>
  <% @trips.each do |trip| %>
    <% if trip.messages.any? %>
      <%= link_to trip_path(trip) do %>
        <div class="chat-box">
          <%= image_tag "#{trip.user.first_name}.jpg", class: "driver-img" %>
          <div class="trip-info-wrapper">
            <h4 class="trip-info">Trip to: <span class="trip-farm"><%= trip.farm.name %></span></h4>
            <div class="last-message">
              <% if current_user == trip.messages.last.user %>
              <p>You: <%= trip.messages.last.content %></p>
              <% else %>
              <p><%= trip.messages.last.user.first_name.capitalize %>: <%= trip.messages.last.content %></p>
              <% end %>
            </div>
          </div>
          <span class="timestamp"><%= trip.messages.last.created_at.strftime('%l:%M %p') %></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="no-message">
    <p>No chats yet</p>
  </div>
<% end %>
