<div class="title-div">
  <div class="arrow-div">
    <%= link_to url_for(:back) do %>
      <i class="fa-solid fa-chevron-left fa-lg arrow"></i>
    <% end %>
    <h2>You're chatting with <%= @trip.user.first_name.capitalize %></h2>
  </div>
</div>

<div class="chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @trip.id %>">
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @trip.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

<%= simple_form_for [@trip, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
  <div class="message-row">
    <div class="send-box">
      <%= f.input :content,
        label: false,
        placeholder: "Type a message...",
        wrapper_html: { class: "flex-grow-1 message-input" },
        input_html: { class: "message-input", rows: 1 } %>
      <%= f.button :button, class: "btn send-button" do %>
        <%= inline_svg_tag("send.svg") %>
      <% end %>
    </div>
  </div>
<% end %>
