<div class="fixed-bottom">
  <div class="">
    <%= link_to "Home", root_path %>
    <%= link_to "Order", orders_path %>
    <%= link_to "Favorite", root_path %>
    <%= link_to "Chat", root_path %>
    <%= link_to "Profile", root_path %>
  </div>
</div>
