<nav class="navbar" data-controller="notification-subscription"
  data-notification-subscription-user-id-value="<%= current_user.id %>">
  <ul class="nav-icons">
    <li>
      <%= link_to farms_path, class: "nav-icon img" do %>
        <%= current_page?(farms_path) ? inline_svg_tag("home-selected.svg") : inline_svg_tag("home.svg") %>
          <span class="nav-links <%= "current-page" if current_page?(farms_path) %>">Home</span>
      <% end %>
    </li>
    <li>
      <%= link_to orders_path, class: "nav-icon img" do %>
        <%= current_page?(orders_path) ? inline_svg_tag("basket-selected.svg") : inline_svg_tag("basket.svg")%>
        <span class="nav-links <%= "current-page" if current_page?(orders_path) %>">Orders</span>
      <% end %>
    </li>
    <li>
      <%= link_to favorites_path, class: "nav-icon img" do %>
        <%= current_page?(favorites_path) ? inline_svg_tag("favorites-selected.svg") : inline_svg_tag("favorites.svg")%>
        <span class="nav-links <%= "current-page" if current_page?(favorites_path) %>">Favorites</span>
      <% end %>
    </li>
    <li data-notification-subscription-target="navbar">
      <% if current_user.number_of_notifications %>
        <%= render "shared/notification"%>
      <% end %>
      <%= link_to trips_path, class: "nav-icon img" do %>
        <%= current_page?(trips_path) ? inline_svg_tag("chat-selected.svg") : inline_svg_tag("chat.svg")%>
        <span class="nav-links <%= "current-page" if current_page?(trips_path) %>">Chats</span>
      <% end %>
    </li>
  </ul>
</nav>
