<nav class="navbar">
  <ul class="nav-icons">
    <li>
      <%= link_to root_path, class: "nav-item img" do %>
        <%= inline_svg_tag "home.svg"%>
      <% end %>
    </li>
    <li>
      <%= link_to orders_path, class: "nav-item img" do %>
        <%= inline_svg_tag "basket.svg"%>
      <% end %>
    </li>
    <li>
      <%= link_to favorites_path, class: "nav-item img" do %>
        <%= inline_svg_tag "favorites.svg"%>
      <% end %>
    </li>
        <li>
      <%= link_to trips_path, class: "nav-item img" do %>
        <%= inline_svg_tag "chat.svg"%>
      <% end %>
    </li>
  </ul>
</nav>
