<div class="title-div">
  <div class="arrow-div">
    <%= link_to url_for(:back) do %>
      <i class="fa-solid fa-chevron-left fa-lg arrow"></i>
    <% end %>
    <h2>Orders</h2>
  </div>
</div>

<% if @orders.any? %>
  <% @orders.each do |order| %>
    <%= link_to order_path(order), class: "order-card-link" do %>
      <div class="order-card">
        <h2><%= order.trip.farm.name %> Order</h2>
        <h3>Products</h3>
        <div class="order-card-products">
          <% order.order_products.each do |order_product| %>
            <div class="separator">
              <%= "#{order_product.quantity}"%> <%= order_product.product.category == "meat" ? order_product.product.name : order_product.product.name.pluralize %>
            </div>
          <% end %>
        </div>

        <h3>Carpool</h3>
        <div class="carpool-orders-card">
          <h3>
            <% if order.trip.date.to_date == Date.today %>
              <%= distance_of_time_in_words(Time.now, order.trip.date) %>
            <% else %>
              <%= order.trip.date.strftime('%B %d %l:%M %p') %>
            <% end %>
          </h3>
          <div class="carpool-info">
            <p><span class="light-text"><%= order.trip.user.electric_car ? "Electric" : "Gas" %></span> car, <span class="light-text"><%= order.trip.seat %></span> seats available</p>
            <p><%= order.trip.user.distance_to([current_user.latitude, current_user.longitude]).round %> km away from you</p>
            <p> Driver : <span class="light-text"><%= order.trip.user.first_name.capitalize %></span></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="no-message">
    <p>No orders yet</p>
  </div>
<% end %>
