<h1>My orders</h1>

<% @orders.each do |order| %>
  <%= link_to order_path(order) do %>

    <div class="card mb-4">
      <%= order.trip.farm.name %>
      <p>Products:<p>
      <% order.order_products.each do |order_product| %>
        <div>
          <%= order_product.quantity %>
          <%= order_product.product.name %>
        </div>
      <% end %>
      <p> On <%= order.trip.date %> </p>
      <%= "Electric car" if order.trip.user.electric_car %>
      <%= "#{order.trip.seat} seats available" %>
      <%= "Driver: #{order.trip.user.first_name.capitalize}" %>
    </div>

  <% end %>
<% end %>
