<div class="title-div">
  <div class="arrow-div">
    <%= link_to url_for(:back) do %>
      <i class="fa-solid fa-chevron-left fa-lg arrow"></i>
    <% end %>
    <h2><%=@farm.name %> Order</h2>
  </div>
</div>

<% @order.id %></p>
<% @order.trip_id %></p>
<% @order.user_id %></p>

<div class="basket-recap">
  <div class="basket-topline">
    <h3>Basket Recap</h3>
    <% total = 0%>
    <% @order_products.each do |order_product|%>
      <% total += order_product.cost %>
    <% end %>
    <div class="total"><span class="light-text">My total:</span>
      <span class="total-cost"><%= "$#{total}" %></span>
    </div>
  </div>

  <div class="ordered-products">
    <% @order_products.each do |order_product| %>
      <div class="ordered-product">
        <%= "#{order_product.quantity}#{order_product.product.unit} of #{order_product.product.category == "meat" ? order_product.product.name : order_product.product.name.pluralize }" %>
      </div>
    <% end %>
    <div class="carbon-recap">
      <h3>Well done!</h3>
      <% carbon_total = 0%>
      <% @order_products.each do |order_product|%>
        <% carbon_total += (order_product.quantity * order_product.product.co2_saved) %>
      <% end %>
      <p> You saved <%= carbon_total.round(3) %>kg of Carbon Dioxide by shopping with Farmland! <p>
    </div>
  </div>
</div>

<%# TODO: finish carpool recap, basket recap and total price %>
<h3>Carpool Recap</h3>
<div class="carpool-orders-show-card">
  <h3 class="carpool-date">
    <% if @order.trip.date.to_date == Date.today %>
      <%= distance_of_time_in_words(Time.now, @order.trip.date) %>
    <% else %>
      <%= @order.trip.date.strftime('%B %d %l:%M %p') %>
    <% end %>
  </h3>
  <div class="carpool-info">
    <p><span class="black-text"><%= @order.trip.user.electric_car ? "Electric" : "Gas" %></span> car, <%= @order.trip.seat %> seats available</p>
    <p><span class="black-text"><%= @order.trip.user.distance_to([current_user.latitude, current_user.longitude]).round %></span> km away from you</p>
    <p>Driver : <span class="black-text"><%= @order.trip.user.first_name.capitalize %></span></p>
    <%= link_to trip_path(@order.trip) do %>
      <button class="driver-chat-button"><small>Message <%= @order.trip.user.first_name.capitalize %></small></button>
    <% end%>
  </div>
</div>

<h3>Meeting point with <%= @order.trip.user.first_name.capitalize %></h3>
<div class="map-container">
  <div
    style="width: 100%; height: 150px; border-radius: 20px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <button class="gmap-redirection"><%= link_to "Open on google maps", "https://www.google.com/maps/search/?api=1&query=#{@order.trip.user.latitude},#{@order.trip.user.longitude}" %></button>
</div>
