<h1><%=@farm.name %> Order</h1>

<% @order.id %></p>
<% @order.trip_id %></p>
<% @order.user_id %></p>

<h3>Basket Recap</h3>
<div class="ordered-products">
  <% @order_products.each do |order_product| %>
    <div class="ordered-product">
      <p><strong>Product:</strong><%= order_product.product.name %></p>
      <p><strong>Quantity:</strong><%= order_product.quantity %></p>
      <p><strong>Total:</strong><%= order_product.cost %></p>
    </div>
  <% end %>
</div>

<%# TODO: finish carpool recap, basket recap and total price %>
<h3>Carpool Recap</h3>
<div class="carpool-orders-show-card">
  <h3>
    <% if @order.trip.date.to_date == Date.today %>
      <%= distance_of_time_in_words(Time.now, @order.trip.date) %>
    <% else %>
      <%= @order.trip.date.strftime('%B %d %l:%M %p') %>
    <% end %>
  </h3>
  <div class="carpool-info">
    <p><%= @order.trip.user.electric_car ? "Electric" : "Gaz" %> car, <%= @order.trip.seat %> seats available</p>
    <p><%= @order.trip.user.distance_to([current_user.latitude, current_user.longitude]).round %> km away from you</p>
    <p>Driver : <%= @order.trip.user.first_name.capitalize %></p>
    <button>Chat with driver: <%= link_to "Chat", trip_path(@order.trip) %></button>
  </div>
</div>


<h3>Meeting point with <%= @order.trip.user.first_name.capitalize %></h3>
<div
  style="width: 100%; height: 150px; border-radius: 20px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <button class=""></button>
</div>
