<h1><%=@farm.name %> Order</h1>

<% @order.id %></p>
<% @order.trip_id %></p>
<% @order.user_id %></p>

<div class="basket-recap">
  <div class="basket-topline">
    <h3>Basket Recap</h3>
      <% total = 0%>
      <% @order_products.each do |order_product|%>
        <% total += order_product.cost %>
      <% end %>
      <div class="total"><span class="light-text">My total:</span>
       <span class="total-cost"><%= "$#{total}" %></span></div>
  </div>
  <div class="ordered-products">
    <% @order_products.each do |order_product| %>
      <div class="ordered-product">
        <%= "#{order_product.quantity}#{order_product.product.unit} of #{order_product.product.category == "meat" ? order_product.product.name : order_product.product.name.pluralize }" %>
      </div>
    <% end %>
  </div>
</div>

<%# TODO: finish carpool recap, basket recap and total price %>
<h3>Carpool Recap</h3>
<div class="carpool-orders-show-card">
  <h3>
    <% if @order.trip.date.to_date == Date.today %>
      <%= distance_of_time_in_words(Time.now, @order.trip.date) %>
    <% else %>
      <%= @order.trip.date.strftime('%B %d %l:%M %p') %>
    <% end %>
  </h3>
  <div class="carpool-info">
    <p><%= @order.trip.user.electric_car ? "Electric" : "Gaz" %> car, <%= @order.trip.seat %> seats available</p>
    <p><%= @order.trip.user.distance_to([current_user.latitude, current_user.longitude]).round %> km away from you</p>
    <p>Driver : <%= @order.trip.user.first_name.capitalize %></p>
    <button>Chat with driver: <%= link_to "Chat", trip_path(@order.trip) %></button>
    <%# adding distance in km from driver to current_user %>
  </div>
</div>


<h4>Meeting point with Laurent</h4>
