<!DOCTYPE html>
<html>
  <head>
    <title>Farmland</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%# <script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script> %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background">
    <% unless @_request.fullpath == root_path || @_request.fullpath == user_session_path %>
      <%= render "shared/topbanner" %>
    <% end %>
    <div class= "app-container">
      <main>
        <%= yield %>
      </main>
    </div>
    <% unless @_request.fullpath == root_path || @_request.fullpath == user_session_path  %>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
