<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Get your farm-fresh products directly from local farms, even if you don't have a car. Carpool, reduce your CO2 emissions and enjoy the best local produce !" content="<%= meta_description %>">
    <%= favicon_link_tag "favicon.svg", rel: "icon", type: "image/svg" %>
     <%# <%=# favicon_link_tag "favicon.ico", rel: "icon", type: "image/ico" %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="turbo-cache-control" content="no-cache">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%# <script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script> %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background">
    <div>
      <% unless @_request.fullpath == root_path || @_request.fullpath == user_session_path || @_request.fullpath == farm_path %>
        <%= render "shared/topbanner" %>
      <% end %>
      <div class= "app-container">
        <main>
          <%= yield %>
        </main>
      </div>
      <% unless @_request.fullpath == root_path || @_request.fullpath == user_session_path  %>
        <%= render "shared/navbar" %>
      <% end %>
    </div>
  </body>
</html>
